:root {
  --black: #000000;
  --white: #ffffff;
  --darkGray: #6a6f73;
  --lightGray: #d1d7dc;
  --bronzeOlive: #3d3c0a;
  --midYellow: #eceb98;
  --lightOrange: rgb(255, 166, 0);
  --darkOrange: #b4690e;
}
